@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  input::-webkit-input-placeholder { 
    text-align:left; 
  }

  input {
    text-align: left; /* Add this line */
  }
}

@layer components{
  .form{
    @apply bg-white p-6 border-black border-2 rounded-md shadow-2xl justify-center items-center flex flex-col sm:w-1/2 md:w-1/2 lg:w-1/2 xl:w-1/4 2xl:w-1/4;
  }

  .submit{
    @apply bg-bar hover:bg-blue-600 text-white font-medium py-2 px-4 rounded mt-2 ;
  } 
}

@layer utilities{
  .nav{
    @apply relative tracking-[1px]
  }

  /*Creates the underline for each navlink after the navlink has been hovered over. Width of underline starts at 0 and goes to 100% over 300ms time duration*/
  .nav::after{
    @apply content-[''] bg-bar h-[3px] w-[0] left-0 -bottom-[5px] rounded-xl absolute duration-300
  }


  .nav:hover::after{
    @apply w-[100%]
  }

  .bg-background{
    background-color: #6A5638;
  }

  .bg-bar{
    background-color: #501214;
  }
}